<%= render 'shared/errors', object: @post %>

<div class="well">
  <%= form_for @post do |f| %>
    <div class="control-group">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>
    <div class="control-group">
      <%= f.label :url %>
      <%= f.text_field :url %>
    </div>
    <div class="control-group">
      <%= f.label :description %>
      <%= f.text_area :description, rows: 5 %>
    </div>
    <div class="control-group">
      <%= f.label :categories %>
      <%= f.collection_check_boxes :category_ids, Category.all, 
                                 :id, :name do |b| %>
        <%= b.label(class: "checkbox inline") { b.check_box + b.label } %>
      <% end %>
    </div>
    <%= f.submit "Submit", class: "btn btn-primary" %>
  <% end %>
</div>
