<div class="row">
  <div class="span8">
    <%= render @post.categories %>
    <h4><%= render 'shared/content_title', title: @post.title %></h4>
    <p>
      <%= @post.description %>
      <hr/>
    </p>
    <p>
    <% if logged_in? %>
      <%= form_for [@post, @comment] do |f| %>
        <%= render 'shared/errors', object: @comment %>
        <%= f.label :body, "Leave a comment:" %>
        <%= f.text_area :body, rows: 5 %>
      </p>
        <%= f.submit "Submit", class: "btn btn-success" %>
      <% end %>
    <% end %>
    </p>
    <% if current_user == @post.creator %>
      <p><%= link_to 'Edit this post', edit_post_path(@post) %></p>
    <% end %>
    <p><%= link_to 'Back', posts_path %></p>
  </div>
</div>

<h5 text-weight="bold">Comments:</h5>

<%= render 'comments/comment', object: @post %>